
.tnx-modal {

    .photo-wr {
        display: flex;
        justify-content: center;
        margin-bottom: 54px;
    }

    h1 {
        text-align: center;
        margin-bottom: 16px;
    }

    p {
        text-align: center;
        font-size: 16px;
        line-height: 30px;  
        color: #7A7A7A;
        margin-bottom: 32px;
    }

    .got-it {
        margin: 0 auto;
        display: flex;

        justify-content: center;
        align-items: center;
        width: 107px;
        height: 48px;
        background: #3CB3AB;
        border-radius: 33.5px;
        color: whitesmoke;
        
    }
    .got-it:hover {
        cursor: pointer;
        background-color:#147A73;
    }
}


@media(max-width: 560px) {
    .tnx-modal {

        h1 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
            line-height: 24px;
        }

        .got-it {
            
        }
    }
}